@font-face {
	font-family: 'proximanovarg';
	src: url('../fonts/proximanova.otf');
	
}
.fontsforweb_fontid_12950 {
	font-family: 'proximanovarg' !important;
                 
}

body {
    padding-top: 50px;
    
  
  }
  
.contact_desc{

  font-size:18px;
  font-style:italic;
  margin-top:30px;
}

#loveit {
	background-image:url(../images/1.svg);
	padding:0;
	height:40px;
	width:50px;
	background-repeat:repeat-y;
	background-color:#FFFFFF;
	margin:0;
	 z-index:1;
}
.rollover_linerm:hover{
text-decoration:none;
}
#1oveit:hover {
   background-image:url(../images/1o.svg);
   background-repeat: no-repeat; 
   height:40px;
   width:50px;
   margin:0;
    z-index:2;
}
.scrollalign{
width:100%;

}
.login_fb{
width:100%;
margin:15px 0;
}
.topspbtn{
margin-top:20px;
}
.topsignup{
margin-top:35px;
}
.agree_txt{
font-size:12px;
margin-top:10px;
}
	.agree_bluetxt{
color:#22abe1;
}
.rightborder{

  border-right-width:1px;
  border-right-style:solid;
  border-right-color:#c2c2c2;
  padding:0 20px;
  }
  .remeb{
  margin-left:20px;
  }
.amt-sty{
 // font-family: 'OpenSans-Regular';
  font-style: normal;
  font-weight: 300;
  font-size:24px;
}
.gift_heading{
	//font-family: 'OpenSans-Regular';
	font-size:40px;
	margin:30px auto;
	text-align:center;
}
.blue_color{

  border-width:3px;
  border-style:solid;
  border-color:#53409a;
}
.mt_text{
//font-family: 'OpenSans-Regular';
	font-size:16px;
}
.mt_texthd{
//font-family: 'OpenSans-Semibold';
	font-size:16px;
}
.mt_num{
	//font-family: 'OpenSans-Semibold';
	font-size:18px;

	position:absolute;
	left:40px;
}
.mp_gift_ic{
float:left;
position:relative;
left:40px;
}
.row80{
width:80%;
}
.mp_gift_im{
float:left;
position:absolute;
left:20px;
}
.thumbnail_txt{
	// font-family: 'OpenSans-Regular';
	font-size:22px;
	padding-top:35px;
	width:100%;
	padding-top:10%;
	margin:0;
	display:inline-block;
	text-align:center;
}

@media (max-width: 768px) {
.thumbnail_txt{
	// font-family: 'OpenSans-Regular';
	font-size:18px;
	padding-top:15px;
	width:100%;
	padding-top:5%;
	margin:0;
	display:inline-block;
	text-align:center;
}
}
.faghead{
	color:#fc6066;
	font-size:20px;
}
.redeembar{
	padding-top:10px;
}
.category_title{
	font-size:35px;
	text-align:left;
	//font-family: 'OpenSans-Light';
	font-style: normal;
	padding-left:20px;
	padding-bottom:20px;
}
.btn-get {
  color: #333;
  background-color: #fff;
  border-color: #53409a;
  border-width:3px;
  border-style:solid;
  border-color:#ff9900;
  padding:20px;
}

.offer_banner_img{
	position:relative;
	z-index:0;
}

.offer_ban_likeic{
	position:absolute;
	z-index:1;
	right:6%;
	top:5%;
}

.recharge_space{
	padding-top:40px;
	padding-bottom:30px;
	background-color:#ededed;
}
.navbarspace{
padding-top:5px;
}
.discover_txt{
margin:0 auto;
padding-top:50px;
text-align:center;
position:absolute;
}
@media (max-width: 768px) {
.discover_txt{
margin:0 auto;
padding-top:20px;
text-align:center;
position:absolute;
}
}
.tableblue{
background-color:#7cdcea;
color:#252724;
}
.hr_zero{
margin:10px 0;

}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
color: #999999;/* CHANGE COLOR HERE*/

}
.navbar .nav > li > a {
float: none;
padding: 10px 15px 10px; /* CHANGE HEIGHT HERE */
color: #ffffff; /* CHANGE COLOR HERE*/
text-decoration: none;

}
.spacing_top{
	margin-top:30px;
}

.pay1_logo{
	padding:5px;
	margin-top:-17px;
}

.container {
	width: 100%;
	height:516px;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center center;
}
.topsp_50{
margin-top:50px;
}
#map-container{
    height: 500px;
    width: 500px;
}

.footerbg {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	background-color:#CCCCCC;
}

footer{
	text-align:center;
	background-color:#212121;
	color:#dadada;
}

.row1{
	background-color:#e1e1e1;
}

.social li{
	display:inline-block;
	padding:5px;
}

.visacard{
	display:inline-block;
	padding:5px;
	list-style-type:none;
}

.formmenuul{
	display:inline-block;
	list-style-type:none;
}

.btn-get:hover,
.btn-get:focus,
.btn-get:active,
.btn-get.active,
.open > .dropdown-toggle.btn-get {
  color: #333;
  background-color: #e6e6e6;
  border-color: #53409a;
}
.btn-get:active,
.btn-get.active,
.open > .dropdown-toggle.btn-get {
  background-image: none;
}
.btn-get.disabled,
.btn-get[disabled],
fieldset[disabled] .btn-get,
.btn-get.disabled:hover,
.btn-get[disabled]:hover,
fieldset[disabled] .btn-get:hover,
.btn-get.disabled:focus,
.btn-get[disabled]:focus,
fieldset[disabled] .btn-get:focus,
.btn-get.disabled:active,
.btn-get[disabled]:active,
fieldset[disabled] .btn-get:active,
.btn-get.disabled.active,
.btn-get[disabled].active,
fieldset[disabled] .btn-get.active {
  background-color: #fff;
  border-color: #53409a;
}
.btn-get .badge {
  color: #fff;
  background-color: #333;
}

.btn-get {
  color: #333;
  background-color: #fff;
  border-color: #53409a;
 // font-family: 'OpenSans-Regular';
  font-size:22px;
  margin:0;
  padding:10px 35px;
}

.popular_thumtxt{
	text-align:center;
	//font-family:OpenSans-Semibold;
	font-weight:300;
	font-size:15px;
	color:#333333;
	width:auto;
	height:auto;
}

.rowsearch{
width:60%;
text-align:center;
border-left-width: 0.5px;
border-right-width: 0.5px;
border-top-width: 0.5px;
border-bottom-width: 0.5px;
border-style: solid;
border-color:#cacaca;
}

.recharge_menu{
height:100%;
width:100%;
background-color:#d7d7d7;
margin-top:-20px;
padding-top:26px;
padding-bottom:16px;
border-bottom-width:3px;
border-bottom-color:#ababab;
border-bottom-style:solid;
}

.recharge_menubody{
width:100%;
background-color:#ededed;
margin-top:0px;
padding-top:23px;
}

.recharge_header{
padding-bottom:20px;
font-size:18px;
//font-family: 'OpenSans-Regular';
}

.recharge_menu_formsty{
height:400px;
padding-left:108px;
padding-top:20px;
}

@media (max-width: 768px) {
.recharge_menu_formsty{
height:200px;
padding-left:10px;
padding-top:20px;
}
}
.recharge_mobilebox{
border:thin;
border-width:2px;
border-style: solid;
}

@media (max-width: 768px) {
.recharge_menu_formsty{
padding-left:20px;
height:400px;
}
}
.short-div {
    height:96px;
	background-color:#21c064;
 	//font-family: 'OpenSans-Regular';
	font-size:25px;
	width:100%;
	color:#FFFFFF;
	padding-top:35px;
	padding-left:20px;
}
.close_btn{
background-image:url(../images/close.png);
top:5px;
right:5px;
float:right;
height:16px;
position:absolute;
width:16px;
}
.lineup{
border-bottom-width: 0px;
border-left-width: 0px;
border-right-width: 2px;
border-top-width: 2px;
border-style: solid;
border-color:#c2c2c2;
}
.linedn{
border-bottom-width: 2px;
border-left-width: 0px;
border-right-width:  2px;
border-top-width: 2px;
border-style: solid;
border-color:#c2c2c2;
}
.pd{
padding:0;
margin:0 0 0 0px;
margin-right:0;
}

.mobile_instant {
    height:48px;
	background-color:#e1e1e1;
 	//font-family: 'OpenSans-Regular';
	font-size:20px;
	width:240px;
	color:#000;
	padding-left:16px;
	padding-top:16px;
		
}
.rowfood{
width:90%;
text-align:center;
border-left-width: 0.5px;
border-right-width: 0.5px;
border-top-width: 0;
border-bottom-width: 0;
border-style: solid;
border-color:#cacaca;
}

.rowsearch{
text-align:center;
border-left-width: 0.5px;
border-right-width: 0.5px;
border-top-width: 0.5;
border-bottom-width: 0.5;
border-style: solid;
border-color:#cacaca;
}

.thum_box{
width:184px;
height:128px;
position:relative;
}

.brand_logo{
width:55px;
height:55px;
float:left;
position:absolute;
top:110px;
left:40px;
}

.containerfood{
width:90%;
}

.divborder{
 border: 0.5px solid;
 height:auto;
}

.boxshadow{
width:206px;
height:256px;
box-shadow: 0px 3px 4px #969696;
margin:5px;
padding:10px;
}

.offer_name{
text-align:left;
color:#414141;
font-weight: 300;
clear:both;
margin-top:50px;
}

.catarrow{
	clear:left;
	margin:0px;
	padding:5px;
	width:15px;
	height:15px;
	float:right;
}

.catoutline{
text-align:center;
border-left-width: 0px;
border-right-width: 2px;
border-top-width: 0;
border-bottom-width: 0;
border-style: solid;
border-color:#cacaca;
padding-bottom:90px;
}

.cardoutline{
text-align:center;
border-left-width: 0px;
border-right-width: 2px;
border-top-width: 0;
border-bottom-width: 0;
border-style: solid;
border-color:#cacaca;
margin-top:160px;
margin-left:70px;
}
.abooutoutline{
text-align:center;
border-left-width: 0px;
border-right-width: 2px;
border-top-width: 0;
border-bottom-width: 0;
border-style: solid;
border-color:#cacaca;
margin-top:80px;
margin-left:50px;
}
.abt_banner{
margin-top:40px;
}

.allcategory{
  font-style: normal;
  font-weight: 300; 
  margin:0;
  padding:0;
  width:70%;
}
.all_cardcategory{
  font-style: normal;
  font-weight: 300; 
  margin:0;
  padding:0;
  width:80%;
}
.about_cardcategory{
  font-style: normal;
  font-weight: 300; 
  margin:0;
  padding:0;
  width:90%;
}
	.online_rightbg{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
	background-color:#FFFFFF;
	 border: 1px solid #acacac;
	margin-top:90px;
	margin-bottom:30px;
	padding-top:50px;
	padding-left:40px;
	
	}
	.add{
	line-height:40px;
	height:100px;
	}
	.feebackform{
	margin-top:30px;
	}
	.sq_outline{
		 border: 1px solid #acacac;
		 width:90%;
		 height:auto;
		 padding:20px;
	}
		.map_outline{
		 border: 1px solid #acacac;
		 width:90%;
		 margin-top:30px;
		 height:auto;
	}
	.payment_btn{
	width:234px;
	}
	#tfheader{
		background-color:#fff;
		margin-top:155px;		
	}
	#tfheader_foodpage{
		background-color:#fff;
		margin-top:0;	
	}
	#tfnewsearch{
		padding:20px;
	}
	.tftextinput{
		margin: 0;
		padding: 5px 15px;
		//font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		border:1px solid #0076a3; border-right:0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
	}
	.tfbutton {
		margin: 0;
		padding: 5px 15px;
		//font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #0076a3; border-right:0px;
		background: #0095cd;
		background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
		background: -moz-linear-gradient(top,  #00adee,  #0078a5);
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
	}
	.tfbutton:hover {
		text-decoration: none;
		background: #007ead;
		background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
		background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	}
	/* Fixes submit button height problem in Firefox */
	.tfbutton::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}

.food_name{
text-align:left;
color:#414141;
font-weight: 200;
//font-family: 'OpenSans-Light';
font-size:18px;
}

.category_name{
text-align:left;
color:#414141;
//font-family: 'OpenSans-Regular';
font-weight: 300;
font-size:22px;
margin-top:0px;
}
.card_name{
text-align:left;
color:#414141;
//font-family: 'OpenSans-Regular';
font-weight: 300;
font-size:24px;
margin-top:50px;
}
.about_name{
text-align:left;
color:#414141;
//font-family: 'OpenSans-Regular';
font-weight: 300;
font-size:18px;
margin-top:20px;
}
.redeem_name{
text-align:left;
color:#414141;
//font-family: 'OpenSans-Regular';
font-weight: 300;
font-size:10px;
margin-top:50px;
}
.payment_summary{
text-align:left;
color:#414141;
//font-family: 'OpenSans-Regular';
font-weight: 300;
font-size:24px;
margin-top:60px;
}
.giftmain{
float:right;
margin-top:5px;
width:70px;
position:relative;
padding-left:40px;
}

.gift_ic{
width:25px;
height:25px;
position:absolute;
margin-left:-40px;
}

.gift_ic_top{
width:25px;
height:25px;
margin:10px 0 0 10px;
padding:4px;
}

.profile_ic_top{
width:37px;
height:37px;
margin:5px 0 0 5px;
padding:2px;
}

.arrw_prof{
	width:10px;
	height:8px;
	margin:10px 0 0 10px;
	padding:4px;
}
.profile_bg{
	width:100%;
	height:260px;
		background-image:url(../images/profile_banner.jpg);
}
.profile_banner{
	margin:0px 0 0 0;
	position:absolute; /*target IE6 only */
	top:0;
	left:0;
	width:100%;
	height:50%;
	z-index: -1;
	background-image:url(../images/profile_banner.jpg);
	background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-boiconbx_ban;
}

.profile_bannerthum{
	padding:0;
	margin-top:72px;
	text-align:center;
}

.menutab{
height:74px;
width:100%;
background-color:#d7d7d7;
border-bottom-style:solid;
border-bottom-color:#ababab;
border-width: 5px;
margin-top:-20px;
padding-top:30px;
}

.title_txt{
color:#656565;
background-color:#ffffff;
}

.menulist{
background-color:#ededed;
padding:0;
padding-top:20px;
padding-bottom:10px;
}

.tranparent_banner{
	opacity: 0.4;
	height:84px;
    filter: alpha(opacity=40); /* For IE8 and earlier */
	background-color:#000000;
	width:100%;
	position:absolute;
	top:37%;	
	z-index:1;
	margin-left:-16px;
	padding-top:10px;
		
}
.updiv{

position:absolute;
z-index:100;
text-align:center;
margin-top:80px;
margin-left:450px;
}
@media (max-width: 768px) {
.updiv{
position:absolute;
z-index:100;
text-align:center;
margin-top:50px;
margin-left:10px;
}
}
.iconbx_ban{
	padding-left:16%;
	padding-right:16%;
	margin-left:18%;
	margin-right:18%;
	position:absolute;
}
.iconbx_ban2{
	padding:0;
	margin-left:80px;
	position:absolute;
}
@media (max-width: 768px) {
.tranparent_banner{
	opacity: 0.4;
	height:84px;
    filter: alpha(opacity=40); /* For IE8 and earlier */
	background-color:#000000;
	width:100%;
	position:absolute;
	top:37%;	
	margin-left:-16px;
	padding-top:10px;	
}

}
@media (max-width: 768px) {
.iconbx_ban{
	padding-left:3%;
	padding-right:3%;
	margin-left:2%;
	margin-right:2%;
	position:absolute;
}
.iconbx_ban3{
	padding:0;
	margin-left:60px;
	position:absolute;
}

.iconbx_ban4{
	padding:0;
	margin-left:160px;
	position:absolute;
}
}
.iconbx_ban3{
	padding:0;
	margin-left:160px;
	position:absolute;
}
.iconbx_ban4{
	padding:0;
	margin-left:260px;
	position:absolute;
}

@media print {
.tranparent_banner{
	margin-left:0px;
}
}


.price{
font-size:18px;
font-weight:300;
position:absolute;
margin-left:-10px;
}

.ban_icbox{
	position:absolute;
	margin:10px 0 0 0;
	z-index:2;
	width:150px;
}
.personal{
//font-family: OpenSans-Regular;
font-size:15px;
padding-left:30px;
margin-top:20px;
float:left;
width:200px;
}
.offer_bg{
background-size:contain;
background-repeat:no-repeat;
background-position:center center;
width:100%;

}
.offer_bg_img{
position:relative;
z-index:-1;
}
.offer_info_coin{
position:absolute;
z-index:1;
margin-top:-160px;
margin-left:35px;
//font-family:'OpenSans-Light';
font-size:24px;
color:#FFFFFF;
}
@media (max-width: 768px) {
.offer_info_coin{
position:absolute;
z-index:1;
margin-top:-160px;
margin-left:35px;
//font-family:'OpenSans-Light';
font-size:18px;
color:#FFFFFF;
}
}
.offer_info_whtsapp{
position:absolute;
z-index:1;
margin-left:35px;
//font-family:'OpenSans-Light';
font-size:18px;
color:#FFFFFF;
}
.offer_info_call{
position:absolute;
z-index:1;
margin-left:35px;
//font-family:'OpenSans-Light';
font-size:18px;
color:#FFFFFF;
}

.offer_logo{
 background-color: #ffffff;
    border-radius: 25px;
    height: auto;
 //   margin-left: 52px;
    margin-top: -410px;
    padding: 20px;
    //position: absolute;
    width: auto;
    z-index: 1;
}

@media (max-width: 768px) {
.offer_logo{
position:absolute;
z-index:1;
width:191px;
height:191px;
background-color:#FFFFFF;
border-radius: 25px;
margin-top:-400px;
margin-left:33px;
}
}
.social_ic{
width:67px;
height:67px;
margin-left:10px;
margin-right:10px;
float:left;
}
.leftmenu{
color:#c6c6c6;
width:240px;
height:50px;
}
.ratingbox{
font-weight:300;
font-size:16px;
//font-family: 'OpenSans-Semibold';
text-align:center;
}

.okay span{
}

.okay:hover span{
    font-weight:bold;
}

.okay:hover{
    text-decoration:underline;
	
}

.ratnum{
font-size:24px;
}

.menuitem{
color:#000;
width:240px;
padding:10px;
border: 2px solid;
border-bottom-width:1px;
height:50px;
text-align:left;
border-color: #c6c6c6;
}

.menuitem_active{
color:#fff;
width:240px;
padding:10px;
border: 2px solid;
border-bottom-width:1px;
height:50px;
text-align:left;
background-color:#26a9e0;
border-color: #c6c6c6;
}

.menuitem_blueactive{
color:#fff;
width:240px;
padding:10px;
border: 2px solid;
height:50px;
text-align:left;
background-color:#99d9f2;
border-color: #c6c6c6;
border-bottom-width:1px;
}
.offer_green{
color:#06ae4e;
padding:10px;
font-size:18px;
font-family:inherit;
}
.right_section{
color:#000;
width:640px;
padding:10px;
border: 2px solid;
height:auto;
text-align:left;
border-color: #c6c6c6;
border-bottom-width:1px;
background-color:#f7f7f7;
margin-bottom:40px;
}

.right_section_soc{
color:#000;
width:640px;
padding:10px;
border: 2px solid;
height:auto;
text-align:left;
border-color: #c6c6c6;
border-bottom-width:1px;
background-color:#f7f7f7;
margin-bottom:80px;
}

.tit_section{
font-weight:300;
font-size:20px;
padding-left:30px;
padding-top:20px;
//font-family: 'OpenSans-Semibold';
}
.support_title{
font-weight:300;
font-size:20px;
padding-left:30px;
text-align:center;
padding-top:20px;
//font-family: 'OpenSans-Semibold';
}
.offer_txt{
font-weight:300;
font-size:15px;
padding-left:20px;
padding-top:10px;
//font-family: 'OpenSans-Semibold';
}
.comment_txt{

font-size:15px;
padding-left:20px;
padding-top:10px;
//font-family: 'OpenSans-regular';
}
.redeem_txt{
font-weight:300;
font-size:12px;
padding-left:20px;
padding-top:5px;
//font-family: 'OpenSans-Semibold';
}
.offer_img{
float:right;
vertical-align:bottom;
background-color:#FFFFFF;
border-color:#d7d7d7;
width:102px;
height:102px;
padding:5px;
border: 1px solid;
border-radius: 10px;
}

.topspace50{
margin-top:50px;
}

.mapbg{
background-image:url(../images/map.jpg);
background-repeat:no-repeat;
height:410px;
width:auto;
background-position: center center;
background-size:cover;
position:relative;
}

.map_thumnail{
width:196px;
height:196px;
position:relative;
background-color:#FFFFFF;
border-radius: 40px;
box-shadow: 0px 3px 4px #969696;
top:150px;
left:10%;
right:10%;
text-align:center;
padding:10px;
margin-bottom:20px;
}
.map_width{
width:80%;
}
.whitebg{
background-color:#FFFFFF;
padding-top:20px;
}
.smiley_img{
float:right;
margin:5px;

}
.blue_txtpay1{
color:#524398;
}
.h4bold{
//font-family: 'OpenSans-Semibold';
font-weight:300;
}
.add_title{
//font-family: 'OpenSans-Semibold';
font-weight:300;
margin-left:18px;
}
.space30top{
margin-top:30px;
}
.padding_rightsec{
font-weight:300;
padding-top:10px;
padding-left:20px;
//font-family: 'OpenSans-Semibold';
}
.inner_support{
font-weight:300;
padding-top:30px;
padding-left:20px;
padding-right:20px;
padding-bottom:50px;
//font-family: 'OpenSans-Semibold';
}
.send_align{
margin-top:20px;
}
.misscall{

	//font-family: 'OpenSans-Regular';
	font-size:18px;
}
.writeus{
	//font-family: 'OpenSans-Regular';
	font-size:18px;
	padding-top:15px;
}
.ic_top{
margin-top:15px;
}
.giftstore_width{
width:85%;
}
.offer_width{
width:94%;
margin-top:20px;
width:0 auto;
}
.offer_width_tit{
width:94%;
width:0 auto;
}
.detail_info{
line-height:25px;
}
.svgstyle{
padding:10px 0;
}
.bulletwatch{
	width:auto;
	height: auto;
    margin: 10px 0; /* not needed, just to add space between the li's */
    background: url('../images/watch.svg') no-repeat left center;
    list-style: none; /* Get rid of the default bullet points */
    padding-left: 30px; /* Offsets the text. Needs to be at least the width of your image */
    line-height: 20px; /* Might have to play with this value a bit */
}
.bulletcalender{
	width:auto;
	height: auto;
    margin: 10px 0; /* not needed, just to add space between the li's */
    background: url('../images/calender.svg') no-repeat left center;
    list-style: none; /* Get rid of the default bullet points */
    padding-left: 30px; /* Offsets the text. Needs to be at least the width of your image */
    line-height: 20px; /* Might have to play with this value a bit */
}
.bulletappointment{
	width:auto;
	height: auto;
    margin: 10px 0; /* not needed, just to add space between the li's */
    background: url('../images/appointment.svg') no-repeat left center;
    list-style: none; /* Get rid of the default bullet points */
    padding-left: 30px; /* Offsets the text. Needs to be at least the width of your image */
    line-height: 20px; /* Might have to play with this value a bit */
}
.bulletstar{
	width:auto;
	height: auto;
    margin: 10px 0; /* not needed, just to add space between the li's */
    background: url('../images/star.svg') no-repeat left center;
    list-style: none; /* Get rid of the default bullet points */
    padding-left: 30px; /* Offsets the text. Needs to be at least the width of your image */
    line-height: 20px; /* Might have to play with this value a bit */
}
.success_btn{
width:100px;
float:right;
margin-top:20px;
}

.offer_rightpanel{
width:100%;
float:left;
}
.roundedges{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-top:20px;
  margin-bottom:20px;
  }
  
  .item_sty{
  padding:10px;
  color:#83919d;
  margin:auto;
  }
  
  .item_selected{
  color:#24323f;
  padding:10px;
  font-size:14px;
  } 

.title_grey{
background-color:#e1e1e1;
padding:10px;
font-size:17px;
color:#000000;
//font-family: 'OpenSans-Semibold';
}

.menu_arr{
display:inline;
float:right;
}

.ban_icimg{
	position:absolute;
	margin:0;
	padding:0;
	z-index:5;
}

.ban_ictxt{
	position:absolute;
	margin:0;
	color:#FFFFFF;
	left:30px;
	z-index:10;
}

.likes_txt{
color:#FFFFFF;
position:absolte;
margin-top:20px;
text-align:left;
padding:4px;
width:auto;
z-index:20;
}

.price_top{
font-size:18px;
font-weight:300;
color:#FFFFFF;
margin:10px 0 0 10px;
padding:4px;
}

.shop_name{
text-align:left;
font-size:12px;
color:#888888;
}

.bannershadow{
margin-top:54px;
box-shadow: 0px 3px 4px #969696;
}
body {
	background: #ffffff !important;	
}

.wrapper {	
  margin-top: 40px;
  margin-bottom: 40px;
}
.login_font{
 //font-family: 'OpenSans-Semibold';
 font-style: normal;
 font-weight: 300;
font-size:15px;
}
.order_font{
 //font-family: 'OpenSans-Semibold';
 font-style: normal;
 font-weight: 300;
font-size:15px;
}
.service_provider{
 //font-family: 'OpenSans-Semibold';
 font-style: normal;
 font-weight: 300;
font-size:15px;
margin-top:50px;

}
.order_left{
padding-left:20px;
}
.login_font_title{
 //font-family: 'OpenSans-Semibold';
 font-style: normal;
 font-weight: 300;
font-size:18px;
text-align:center;
margin-bottom:30px;

}
.signup_font_title{
 //font-family: 'OpenSans-Semibold';
 font-style: normal;
 font-weight: 300;
font-size:18px;
text-align:center;
margin-bottom:10px;
}
.card_input{
margin-top:40px;
}
.card_infolabel{
	//font-family: 'OpenSans-Regular';
	font-size:14px;
	text-align:left;
}
.link span{
    color:#414141;
	//font-family: 'OpenSans-Regular';
	font-weight: 300;
    font-size:30px;
}


.link:hover span{
    
}

.link_my a {
    text-decoration: none;

}

.link:hover{
	border-bottom:3px solid #ed8488;
	text-decoration: none;
}




.order_bottomgreenline{
border-bottom:3px solid #26bf6c;
margin-right:17px;
margin-left:17px;
}

.green span{
    color:#414141;
	//font-family: 'OpenSans-Regular';
	font-weight: 300;
    font-size:20px;
	line-height:35px;
}


.green:hover span{
    
}

.green_my a {
    text-decoration: none;
	border-bottom:3px solid #21c064;

}

.green:hover{
	border-bottom:3px solid #21c064;
	text-decoration: none;
}

.pay_via{
margin-top:30px;
margin-bottom:30px;
}
.btn_via{
margin-top:30px;
}
.total{
float:right;
}
.tot_num{
float:left;
padding-right:20px;
}
.greybg{
background-color:#ededed;
}
.aboutbg_white{
background-color:#ffffff;
}
.bottomfb{
margin-bottom:30px;
}
.order_left{
margin-left:0px;
}
.order_main{
margin-bottom:20px;
}
.blue_ordertxt{
color:#2f94e2;
}
.divic{
margin:3px 10px;
}
.input_margin{
margin-top:15px;
margin-bottom:15px;

}
.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  

  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
/*		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}*/
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
}

.about span{
    color:#414141;
	//font-family: 'OpenSans-Regular';
	font-weight: 300;
    font-size:22px;
}


.about:hover span{
    
}

.about_my a {
    text-decoration: none;

}

.about:hover{
	border-bottom:1px solid #c4686d;
	text-decoration: none;
}
/*@charset "UTF-8";*/
/* CSS Document */

.bluetxt {
	color:#1c57ff;
	font-weight:600;
}
.smtxt {
	font-size:10px;
	color:#5d5d5d;
}
.mtxt {
	font-size:15px;
	color:#5d5d5d;
}
.redtxt {
	color:#ed1c24;
}
.greentxt {
	color:#14af55;
}
.bluebg {
	background-color:#26a9e0;
	color:#fff;
}
.whttxt {
	color:#fff;
}
ul.note {
	display:block;
	margin: 10px 0 5px 10px;
}
ul.note li {
	padding:10px;
}
.refresh {
	float:right;
	margin:5px;
}



/* Tabs panel */
.tabbable-panel {
  border:1px solid #eee;
  padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}
.top40{
    margin-top: 40px;
}
.top30{
    margin-top: 30px;
}
.col-centered{
    
}

.map-item
{
    background: none repeat scroll 0 0 white;
    border-radius: 34px;
    height: 190px;
    width: 230px;
}
.map-text
{
    font-size: 18px;
}

#common-footer{
    background-color:#E1E1E1;
}

#common-footer hr {
    border-color: #808080
}
 
#Carousel.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* The controlsy */
.carousel-control {
	left: -12px;
    height: 40px;
	width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
}
.carousel-controlpopular {
	left: -12px;
    height: 40px;
	width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
}
.carousel-control.right {
	right: -12px;
}
/* The indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
	background: #cecece;
}
.carousel-indicators .active {
background: #428bca;
}
.sliderimages
{
     border-radius: 12px;

}
div.scroll {
   // background-color: #00FFFF;
    width: 873px;
    height: 300px;
    overflow-y: scroll;

}

/* SideBar menu CSS START  */
.list-group.panel > .list-group-item {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px
}
.list-group-submenu {
  margin-left:20px;
}
/* SideBar menu CSS END  */

.arrowDown
{
        float: right;
    font-size: 24px;
}

.thumbnail {
    border: #FFFFFF;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.nopaddingleft{
    padding-left: 0px !important;
    margin-left: 0px !important;
}
span.listingspan{
    font-size: 12px;
}
.card_infolabel.showpoints
{
        margin-right: 10px;
    margin-top: 5px;
}
.thumbnail.tileheight
{
    height: 200px;
}
.top15{
    margin-top: 15px;
}
.addtofavdiv
{
        float: right;
    margin-right: 18px;
    margin-top: 3px;
    position: relative;

}

.box-content {
	display: inline-block;

    padding: 10px;
    height: 70px;
    width: 190px;
}

.right {
	border-right: 1px solid #ccc;
}
span.numblock
{
      font-size: 14px;
    margin-left: 10px;
    margin-top: 2px;
    position: absolute;
}
p.numblocktext{
     margin-top: 5px;
      margin-left: 27px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.profileimage{
      margin-top: 28px;
    position: absolute;
    text-align: center;
    width: 100%;
}
.profilename
{
      color: white;
    font-size: 24px;
}
.top4
{
    margin-top: 4px;
}
.socialwidth
{
     width: 240px;
}
    .overlay {
 background-color: rgba(0,0,0,0.65);
 position: absolute;
 height: 70px;
 width: 100%;
 font-family: Verdana, Geneva, sans-serif;
 color: #FFF;
 bottom: 0px;
 z-index: 1;
 
}
    .giftdetailsoverlay {
 background-color: rgba(0,0,0,0.65);
 position: absolute;
 height: 70px;
 width: 100%;
 font-family: Verdana, Geneva, sans-serif;
 color: #FFF;
 bottom: 0px;
 z-index: 1;
 
}

.giftdetailhs
{
     border-radius: 7px;
    position: absolute;
}
.jumbotron
{
    padding: 0;
}
.list-group-item{
    border: 0px;
    font-family: arial;
     
}
a.list-group-item b
{
    text-decoration: underline;
}
.categTitle
{
    display:block;
    background: #cccccc;
    padding:5px;
    border-top:1px solid #000;
}
a .categTitle
{
    color:#fff; 
    text-decoration: none;
}
 a:hover .categTitle {
    background:#21c064;
    text-decoration: none;
}
.categoryOverlay
{
     background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
/*    display: none;*/
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000;
}
.categoryOverlayText
{
    margin-top: -300px !important;
    position: absolute;
    opacity: 1;
    z-index: 10000;
    width:100%;
     margin-left: -5px;
}

.categoryOverlayText a
{
    border-color: transparent;
    font-size: 23px;
   
    color: #fff;
    display: block;
    padding-bottom: 10px;
}
.categoryOverlayText ul li ul
{
    border-color: transparent;
    font-size: 28px;
    line-height: 22px;
    color: #fff;
    display: block;
    padding-bottom: 10px;
    border-left: 3px solid #fff;
    list-style:none;
    margin-left: 35px;
        
}
.categoryOverlayText ul li ul a
{
font-size: 18px;
        
}
a.addclassunderline{
/*    text-decoration: underline;*/
/*          border-top: 0.5px dashed;*/
   border-top: 1px solid;
   border-top-style:dashed;
   border-bottom: 1px solid;
   border-bottom-style:dashed;
    margin-bottom: 15px;
     padding-top: 8px;
}

.quickpayno
{
    background-color: #21C064 !important;
    font-size: 25px;
    font-weight: bold;
    color: white;
        text-align: center;
    vertical-align: middle !important;
    width: 135px;
}
.quickpaytable
{
    width: 400px;
}
h3.quickpayheading
{
      margin-bottom: 13px;
    margin-left: 20px;
    margin-top: -3px;
}
div.nearbylisting
{
    height: 250px;
    padding-top: 10px;
}
.nearbylisting div.thumbnail.tileheight
{
    height: 250px;
}
.sidebarselectedcat
{
      margin-left: 25px;
}
div.card_infolabel img
{
        margin-right: 4px;
}
ul.overlaymenu
{
    list-style: none;
}
