ul{
	list-style-type:none;
}

.footer-section{
	background-color:#e1e1e1;
}

.footer_list{
	display:table-cell;
	margin:30px auto;
}

.footer_list li{
	margin:10px 0px;
}
.footer_list a{
	color:black;
	padding-left:10px;
font-family:"openSans";
}
.footer_list img{
	margin-top:0px !important;
}
.footer_heading{
	border-bottom: 2px solid #919191;
	margin: 30px 0px !important;
	font-size: 18px;
	display: table;
	padding: 0px 10px 10px;
	font-family:"openSans";
}
.copyright{
	color:white;
	background:black;
	padding:10px 0px;
}
.copyright span{
	margin-left:30px;
}
.social{
	font-family:'fontawesome';
	display:inline;
	
}
.social i{
	color: #FFF;
	background-color: black;
	padding: 13px 15px;
	border-radius: 20px;
}


/* CSS FOR FOOTER ENDS */

/* CSS FOR MOBILE BEGINS*/
@media(max-width:768px){
	.no-disp{
		display:none;
	}
}	
/* CSS FOR MOBILE ENDS */