
/* CSS FOR FONT  STARTS*/
@font-face{
	font-family:"openSans";
	src:url('../fonts/open-sans.ttf');
}
@font-face{
	font-family:'fontawesome';
	src:url('../fonts/fontawesome-webfont.ttf');
}
@font-face {
	font-family: 'Conv_Raleway-Regular';
	src: url('../fonts/Raleway/Raleway-Regular.eot');
	src: local('☺'), url('../fonts/Raleway/Raleway-Regular.woff') format('woff'), url('../fonts/Raleway/Raleway-Regular.ttf') format('truetype'), url('../fonts/Raleway/Raleway-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'semibold';
	src: url('../fonts/semibold/OpenSans-Semibold.eot');
	src: local('☺'), url('../fonts/semibold/OpenSans-Semibold.woff') format('woff'), url('../fonts/semibold/OpenSans-Semibold.ttf') format('truetype'), url('../fonts/semibold/OpenSans-Semibold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'openSanslightitalic';
	src: url('../fonts/lightitalic/OpenSans-LightItalic.eot');
	src: local('☺'), url('../fonts/lightitalic/OpenSans-LightItalic.woff') format('woff'), url('../fonts/lightitalic/OpenSans-LightItalic.ttf') format('truetype'), url('../fonts/lightitalic/OpenSans-LightItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'opensanslight';
	src: url('../fonts/openlight/OpenSans-Light.eot');
	src: local('☺'), url('../fonts/openlight/OpenSans-Light.woff') format('woff'), url('../fonts/openlight/OpenSans-Light.ttf') format('truetype'), url('../fonts/openlight/OpenSans-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{
	font-family:"openSans";
}
/* CSS FOR FONT ENDS */

/*CSS FOR SLIDER STARTS */
.slider1{
	background-image:url('../images/slider/slider_image_1.jpg');
	background-position:center;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
}
.slider2{
	background-image:url('../images/slider/slider_image_2.jpg');
	background-position:center;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
}

.slider-content{
	background-color:rgba(0,0,0,0.6);
	padding-top:150px;
	padding-bottom:150px;
	font-size:50px;
	text-align:center;
	color:white;
	font-weight:200;
}

.phone_number{
	background-color:rgba(0,0,0,0.3);
	text-align:center;
	position:relative;
	padding:7px 0px;
	
}
.semibold{
		font-family: 'openSans';
		
	}

.phone-prefix{
	background-color:white;
	padding:5px 10px;
	border-right:1px solid #ACACAC;
	font-weight:bold;
	height:50px;
	border-radius:2px;
	text-transform: uppercase;
}

.phone_number input[type="tel"]{
	border:0px;
	border-left:1px solid;
	margin-left:10px;
	padding-left:5px;
}

.phone_submit{
	margin-left:10px;
	color:white;
	background-color:#E01E31;
	border:1px solid #E01E31;
	padding:3px 40px;
	text-transform: uppercase;
}
/*CSS FOR SLIDER ENDS */

.form-control {
	height:100% !important;
}
/* CSS FOR OVERLAPPING ELEMENTS BEGINS */
.parent_pos{
	position:relative;
	

}
.footer_heading a{
	font-family: 'opansans' !important;
}
.parent_pos>img{
	width:100%;
}
.discount_item{
	position: relative;
    top: -20px;
}
.child_pos{
	
	width:100%;
	background-color:rgba(0,0,0,0.6);
	bottom:41px;
	
}
.margin-top-25{
	margin-top:25px;
}


/*CSS FOR OVERLAPPING ELEMENTS ENDS */

/* CSS FOR CONTENT SECTION  BEGINS */
.how_does p{
	margin-bottom:20px;
}
.how_does img{
	margin-bottom:10px;
}
.how_does{
	margin-top:30px;
}
.padd-bottom{
	padding-bottom:30px;
}
small{
 		font-size:13px;
 	}

.get-started{
	color:#E01E31;
	background-color:white;
	padding:10px 40px;
	font-size:20px;
	border:1px solid #E01E31;
	border-radius:5px;
	margin:20px auto 30px;
	outline:0px;
}
.download_app{
	color:#fff;
	background-color:transparent;
	padding:10px 40px;
	font-size:20px;
	border:1px solid #fff;
	border-radius:5px;
	margin:20px auto 30px;
	outline:0px;
}
.margin-top-br{
	margin-top:40px;
}

.blue_bg_img:before{
	background:#45ADCB;
	padding-top:20px;
	padding-bottom:20px;
	width:100%;
	height:100%;
	transform:skewY(-3deg);
	content:'';
	position:absolute;
	-moz-transform: skewY(-3deg);
	  -o-transform: skewY(-3deg);
	  -ms-transform: skewY(-3deg);
	  -webkit-transform: skewY(-3deg);
	  transform: skewY(-3deg);
}
.blue_bg_img{
	position:relative;
}
.locatemap{
	
	overflow:hidden;
}
.minheight-500{
	min-height: 400px;
}
.payinput{
	background: transparent none repeat scroll 0 0;
    border: 0px solid !important;
    border-bottom:2px solid #d1d1d1 !important;
    color:#000;
    margin:1px 10px  !important;
    outline:0px;
}
.opay{
	text-transform: uppercase;
	padding-bottom:10px;
	margin-top:15px;

}
label.error{
	color:red;
	font-family: 'openSanslight';
	font-size:12px;

}
.locatemap > #map-canvas {
    border: 1px solid #d1d1d1;
   height:300px;
    margin-top: 30px;
    width: 100%;
}
.home{
	font-size: 21px;
  text-transform: capitalize;
  width: 100%;
  margin: 0px auto;
  padding-top: 10px;
  margin-left: 46%;
}
.borderright{
	border-right:2px solid #d1d1d1;
}
.addmoney > ul > li {
    margin-bottom: 30px;
    padding-left: 0px;
    text-align: left;
}
.add_mon > .active a {
    border-bottom: 2px solid #e01e31;
    color: black !important;
    outline:0px;
}
.add_mon li a{
	text-decoration: none;
	color:#adadad;
	font-size:18px;
}
.addmoney >ul > li .active{
	text-decoration: none;
	color:#adadad;
	font-size:18px;
}
.arrow_home {
    left: 75%;
    position: absolute;
    top: 24px;
}
.borderless td, .borderless th {
    border: none;
}

.arrow_home_right{
	 left: 75%;
    position: absolute;
    top: 20px;
}
.or{
	position:absolute;
	left:-24px;
	width:50px;
	background-color:#fff;
}
.thead1{
	
	background-color:rgb(124,220,234);
	text-align:center;
}
.table_head{
	font-size:18px;
	margin-top:12px;
	display:block;
	font-weight:200;
	font-family: "open-sans";
}
.model_disbtn {
    background-color: #ed1c24;
    border: 0 none;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    height: 16px;
    margin: 0;
    padding: 0;
    right: 24px;
    top: 28px;
    width: 16px;
    float:right;
}
.modal-header {
    border-bottom: 3px solid rgb(51, 51, 51);
    margin: 0 auto;
    min-height: 16.43px;
    padding: 15px;
    width: 91%;
}
.modal-footer{
	border-top:3px solid rgb(51, 51, 51);
	  min-height: 16.43px;
    padding: 15px;
    width: 91%;
    margin:0 auto;
    text-align: center;
}
.modeldiv{
	border: 1px solid gray;
	 width: 120px;
	  padding: 5px 10px; 
	 margin-bottom: 27px; 
	 margin-top: 17px;
}
.modal-body{
	text-align: center;
}
.button.close {
    background: red none repeat scroll 0 0;
    border: 0 none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    opacity: 999;
    padding: 0;
    width: 20px;
}
.thead2{
	font-size:10px !important;
	background-color:rgb(225,225,225);
	text-align:center;
	text-transform: uppercase;
	padding:5px ! important;
}
.table > tbody > tr > .thead2{
    border-top: 1px solid #ddd;
    line-height: 1.42857;
    padding: 5px !important;
    vertical-align: top;
}
.table_scroll{
	height:250px;
	overflow:auto;
}
.max-height{
	max-height:300px;
}
.header_bottom_menu{
	padding:0px;
	margin:0px;
	height:50px;
	background-color:#d7d7d7;

}
.btn-clear {
    background-color: rgb(142, 154, 166);
    border-radius: 0;
    color: #fff;
    margin-top: 10px;
    padding: 5px 20px;
}

.header_bottom_menu li {
    display: inline-block;
    list-style: outside none none;
   padding: 19px 15px 21px;
   list-style:none;
}
.header_bottom_menu li a{
	text-transform: uppercase;
	text-decoration: none;
	color:#000;
	font-size:16px;
}
.btn-save:hover{
	color:#fff;
}
.recharg_head{
	font-size:18px;
	font-weight:200;
	 font-family:'openSans';
}
.bottom_nav{
	min-height:50px;
	position:relative;
	margin-top:50px;
	background-color:#d7d7d7;
	border-bottom:4px solid #ccc;
	border-top:1px solid #ccc;
	padding:10px 0px;
}
.header_bottom_menu .active{
	border-bottom:4px solid #e01e31;
}
.menu_content{
	background-color:#ededed;
}
.btn-save {
    background-color: #e01e31;
    border-radius: 0;
    color: #fff;
    margin-right: 10px;
    margin-top: 10px;
    padding: 5px 13px;
}
 .dd-options label{
      max-height:30px;
      font-weight:200 !important;
     }
     .dd-selected-text{
       margin-top: -5px;
       text-align: left;
       color:#000;
       line-height: 39px !important;
       font-weight:200;
     }
     .dd-option-text{
      margin-top:-5px;
     
       margin-top: -5px;
       text-align: left;
     }
     #map-canvas1{
      width:100%;
       height:300px;
     }
     .failure{
     	display:none;
     }
     #failure{
     	display:none;
     }
     .paddnone{
     	padding:0px !important;
     }
     .rnone{
     	border-radius: 0px !important;
     	 margin-bottom: -15px;
    padding: 18px 10px;
     }
     .noborder{
     	border:0px !important;
     }
     .fail{
     	cursor:pointer;
     }
     .break{
     	padding:0px; 
     	margin:0px;
     	border-bottom:2px solid gray;
     }
     .modelheading{
     	font-size:20px;
     }

/*
	background:url('../images/background/bg_blue.png');
	background-repeat:no-repeat;
	background-size:100% 100%;
	width:100%;
	padding:30px 0px;
	*/
/*/////////////////////////////////////////////////////////////////model /////////////////////////////////////////////////*/

#login-modal .btn-save{
				color:white;
				background-color:red;
	}
	#login-modal .facebook-login{
		color:white;
		background-color:blue;
	}
	#login-modal .google-login{
		color:white;
		background-color:red;
	}
	#login-modal #phone_number_login{
		background-color:#acacac;
	}
	#login-modal .border-right{
		border-right:1px solid #ececec;
	}
	#login-modal .or{
		position:relative;
		padding:5px;
		border-radius:10px;
		left:-12%;
		background-color:white;
		display:table;
	}
	#session_timed_out_modal .modal-close{
		float:right;
		border:0px;
	}
	#session_timed_out_modal .error{
		color:red;
		font-size:25px;
	}
	#session_timed_out_modal td{
		padding: 5px 0px 5px 30px;
	}
	#session_timed_out_modal{
		margin-top:25%;
	}
	#session_timed_out_modal .message{
		font-size:20px
	}
	
	.quick_pay .amount {
    background-color: #22c064;
    border: 3px solid #22c064;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 9px;
}
	.recharge td{
		padding:3px 10px;
	}
	.recharge{
		position:relative;
	}
	.amount{
		padding:5px;
	}
	.remove-offer{
		position:absolute;
		top:0px;
		right:0px;

}
.offer_tab > tbody > tr > td, .offer_tab > tbody > tr > th, .offer_tab > tfoot > tr > td, .offer_tab > tfoot > tr > th, .offer_tab > thead > tr > td, .offer_tab > thead > tr > th {
    border-bottom: 1px solid gray;
    border:2px solid #c2c2c2;
}
.offer_tab > tbody > tr > .lasttd, .offer_tab > tbody > tr > .lasttd, .offer_tab > tfoot > tr > .lasttd, .offer_tab > tfoot > tr > th, .offer_tab > thead > tr > .lasttd, .offer_tab > thead > tr > .lasttd {
    border: 2px solid #c2c2c2;
    
}

.remove-offer {
    background-color: #ed1c24;
    border: 0 none;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    height: 16px;
    right: 5px;
    top: 4px;
    width: 16px;
    padding:0px;
    margin:0px;
}
.offer_tab{
	background-color:#e1e1e1;
}
/*	//////////////////////////////////////////////////////////////////model end ////////////////////////////////////////////*/
.why_download .col-md-3{
		padding:0px 2%;
		
	}
.why_download .padding-top-down{
	padding:40px 0px;
}
.why_download .heading{
	padding-bottom:50px;
}
.why_text{
	font-size:18px;
	max-height:100px;
}
.red_bg_img{
	position: relative;
}
.navbar-fixed-top {
    border-width: 0 0 0px;
    top: 0;
}
.why_download h3{
	min-height:40px;
}
.red_bg_img:before{
	background:rgb(255, 106, 102);
	padding-top:20px;
	padding-bottom:20px;
	width:100%;
	height:100%;
	transform:skewY(-3deg);
	content:'';
	position:absolute;
	-moz-transform: skewY(-3deg);
	-o-transform: skewY(-3deg);
	-ms-transform: skewY(-3deg);
	-webkit-transform: skewY(-3deg);
	transform: skewY(-3deg);
}
.margin-top-40{
	margin-top:40px;
}
.margin-bottom-40{
	margin-bottom:40px;
}
.why_download h3{
	    text-transform: uppercase;
	  font-size:21px;
	}
.glyp .glyphicon{
	float:right;
  padding-left: 3px;
  padding-top: 3px;
}
/* CSS FOR CONTENT SECTION ENDS */

/* CSS FOR COLOR AND ALIGNMENT OF ELEMENT BEGINS */
.heading{
	font-size:30px;
	text-align:center;
}
.text-center{
	text-align:center;
}
.text-padding-30{
	padding:0px 30%;
}
.srecord{
	margin-top:5px;
}
.white{
	color:white;
}
.black{
	color:black;
}
.why_download img {
  width: 55%;
}
.home_img{
	  margin-top: -21px;
}
.margin-bottom-20{
	margin-bottom:20px;
}
.whitebg{
	background-color:#fff;
	padding:5px;
	border:1px solid #ccc;
}
#map-canvas{
	width:100%;
	height:500px;
	margin-top:48px;
}
.container{
	max-width:1020px;
}
.container{
	max-width:1300px;
}
.btn-transparent{
	  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
}
.border_img{
	height:15px;
	background-color:rgb(233, 238, 239);
}
.top_menu > li > a:hover,.top_menu > li a:focus{
	color:#fff;
	text-decoration: none;
}
.top_menu > li > a{
	color:#fff !important;
}
.see_offers{
	color:gray;
	text-decoration: none;
	font-size:18px;
}
.product_text{
	font-size:20px;
}
.popover {
    background: #01b0cd;
    color:#fff;
    border:0px;
}
.modelimg{
	 float: left;
    margin-bottom: 22px;
    margin-left: 30px;
    margin-top: -13px;
    vertical-align: middle;
}


.popover.right .arrow:after {
  border-right-color: #01b0cd;
}
/* CSS FOR COLOR AND ALIGNMENT OF ELEMENT ENDS */
/* CSS FOR TABLET STARTS */


@media (max-width:1250px) and (min-width:760px){
	.heading{
		font-size:20px;
	}
	
	.why_download .col-md-3{
		padding:0px 2%;
	}
	
	.why_download h3{
	  text-transform: uppercase;
	  font-size:20px;
	}
	.why_download img{
		width:50%;
	}
	.img_center {
	margin:0px auto;
	  padding: 0px 0px 18px 0px;
	}

	
}
@media(max-width:990px){
	.clear{
	clear:both;
	}
	.why_download img{
		width:36%;
	}
	.why_download .col-md-3{
		padding:0px 10%;
	}
	.arrow_home {
    left: 80%;
    position: absolute;
    top: 53px;
    width: 45%;
}

.dd-selected-text {
    color: #000;
    font-weight: 200;
    line-height: 44px;
    margin-top: -5px;
    text-align: left;
}
.brand_img{
	margin:10px 30px;
}
.brand_img img{
	margin:0px auto;
}
.arrow_home_right {
    left: 79%;
    position: relative;
    top: -152px;
    width: 50%;
}

}
/* CSS FOR TABLET ENDS */
/* CSS FOR MOBILE PHONES START */
@media(max-width:768px){
	.heading {
  font-size: 20px;
  margin-bottom: 13px;
  margin-top: 10px;
  text-transform: uppercase;
}
.header_bottom_menu li {
    display: inline-block;
    list-style: outside none none;
    padding: 19px 6px 21px;
}
	.why_download .text-left{
		text-align:center;
	}
	.mobile_left{
		text-align:left;
	}
	.mobile_center{
		text-align:center;
	}
	.mobile_padd{
		margin-bottom:20px;
	}
	.child_pos {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  bottom: 0;
  font-weight: bold;
  text-align: left;
  padding-left: 10px;
  padding-bottom: 20px;
   top: inherit;
}
	.margin-top-40 {
  margin-top: 20px;
}
	.margin-bottom-40 {
  margin-bottom: 20px;
}
	.why_download .heading {
  padding-bottom: 0px;
}
.img_center {
  margin: 0px auto;
    padding: 0px 0px 18px 0px;
}
	.get-started {
  color: #E01E31;
  background-color: white;
  padding: 10px 30px;
  font-size: 16px;
  border: 1px solid #E01E31;
  border-radius: 5px;
  margin: 20px auto 30px;
}
.discount_item {
    position: absolute;
    
}
.mob{
	display:none;
}
	.mobile_text{
		font-size: 20px;
  margin-top: 24px;
	}
	.icon_des p{
		font-size:17px;
	}
	.how_does img{
		width:25%;
	}
	.why_download img{
		width:30%;
	}
	.blue-bg_img{
		padding:70px 0px;
	}
	.benefits p{
	display:table;
	font-size:14px;
}
.navbar-default .navbar-nav>li>a {
  color: #020202;
  text-transform: uppercase;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
 background-color: rgba(255, 255, 255, 0.4);
}

p{
	font-size:15px;
}
  .why_download h3{
	  text-transform: uppercase;
	  font-size:17px;
	}
	.offers .heading{
	font-size:20px;
	}
	.offers .heading a{
		font-size:16px;
	}
	.margin-top-30{
		margin-top:2px;
	}
	.brand_img{
		width:70%;
		margin:3px auto;
	}
	.content {
	  padding-top: 10px;
	  padding-bottom: 0px;
}
	.why_download img{
		width:30%;
		margin:3px auto;
	}
.get-started,.download_app{
	
  display: block;
  position: relative;
  top: 14px;
  clear:both;
  bottom:20px;
  margin-bottom: 50px;
 
}
.why_text{
	font-size:16px;
}

.copyright {
  font-size: 10px;
}
.mobile-width{
	max-width:600px;
}
.nav>li {
  position: relative;
  display: block;
  border-bottom: 1px solid rgba(128, 128, 128, 0.43);
}
#navigation {
  width: 100%;
  position: relative;
  left: 0px;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  width: 100%;
}
	
}
@media (min-width: 768px){
.navbar-nav>li>a {
    padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 6px;
}
}
@media(max-width: 620px){
.header_bottom_menu {
    background-color: #d7d7d7;
    height: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.header_bottom_menu li {
    display: inline-block;
    list-style: outside none none;
    padding: 9px 1px 30px;
}
.header_bottom_menu li a {
    color: #000;
    font-size: 11px;
    text-decoration: none;
    text-transform: uppercase;
}
}
/* CSS FOR MOBILE PHONE ENDS */